* {
  box-sizing: border-box;
}

body {
  background-color: #F7FAF5;
}

.body-text {
  font-family: 'Raleway', sans-serif;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  min-height: 10%;
}

/* logo */
.logo-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#name {
  margin-left: 10%;
}

#logo{
  margin-top: 17%;
  margin-left: 20%;
  width: 100%;
  height: 100%;
}

.signin {
  margin-top: 4%;
  margin-left: 23%;
  font-size: 15px;
}

.text-color {
  color: #26434A;
}


/* navigation links on the top */
.nav-links {
  display: flex;
  list-style: none;
  font-size: 20px;
  margin-top: 3%;
}

.nav-links li {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 40px;
  background-color: #2E5C2D;
  border-radius: 15px;
  font-size: 15px;
  padding: 5px 0px;
  width: 200px;
  margin-bottom: 1%;
  text-align: center;
}

#search img {
  height: 25px;
  width: 25px;
  margin-left: 50%;
}

#cart img {
  height: 25px;
  width: 37px;
  margin-left: 40%;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: #b2b2b2;
}

/* BODY content related elements */
.home-button {
  background-color: #D9E8C7;
  border: 0px;
  border-radius: 15px;
  padding: 10px;
  width: 50%;
  margin:auto;
  position: absolute;
}

.body-content {
  display: grid;
  overflow: hidden;
}

.banner {
  overflow: hidden;
  height: 500px;
  max-height: 600px;
  position: relative;
}

.banner-img {
   display: block;
   position: relative;
   bottom: 50%;
   width: 100%;
}

.banner button {
  position: absolute;
  top: 80%;
  width: 15%;
  left: 42.5%;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: bold;
  background-color:#D9E8C7;
  color: #064D05;
}

.four-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.each-div {
  display: grid;
  grid-template-rows: 4fr 1fr;
  width: 350px;
  height: 350px;
  margin-top: 10%;
  margin-left: 30%;
  margin-bottom: 10%;
}

.each-div img{
  float: left;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 25px;
}

#new-in h1,
#cat-fav h1,
#best-seller h1,
#dog-fav h1
{
  text-align: center;
  margin-top: -1%;
}

img {
  display: inline;
  opacity: 1;
  padding-top: 10px;
  width: 100%;
  height: auto;
}

img:hover {
  opacity: 0.8;
}

/* FOOTER information */
footer {
  background-color: #91B6A2;
  margin-top: 5%;
}

#subscript p,
footer p{
  color: #193b19;
  margin-top: -1.5%;
  margin-bottom: 1%;
  text-align: center;
}


.subscription {
  padding-top: 1%;
  padding-bottom: 2%;
  width: 20%;
  margin: auto;
}

.submit-button {
  background-color: #2E5C2D;
  border: none;
  color: white;
  padding: 1% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
}


#input-box {
  padding: 1%;
  margin-right: 15px;
  color:rgb(167, 167, 167);
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  
  .submit-button {
    margin-top: 10px;
  }
}


/* Other general styles */
.menu {
  position: absolute;
  right: 0px;
  margin-top: 1%;
  margin-right: 1%;
}

.menu li {
  display:inline;
  padding: 8px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.login {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 8%;
}

.center {
  text-align: center;
}








/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #127B01;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .body-text {font-size: 11px}
}


.border {
  border: 0.2em solid black;
}

 body {
	 font-family: 'Roboto', sans-serif;
}
 .cart-btn {
	 padding: 16px 32px;
   font-family: 'Raleway';
   font-weight: bold;
	 border: 0;
	 border-radius: 10px;
	 background-color: #2E5C2D;
	 color: #efefef;
	 text-transform: uppercase;
	 cursor: pointer;
	 outline: 0;
	 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	 transition: all ease 0.5s;
	 position: relative;
	 margin: 14px;
}
 .cart-btn:hover {
	 background-color:rgb(243, 186, 112);
	 box-shadow: 0px 2px 4px rgb(121, 92, 55);
}
 .cart-btn .count {
	 position: absolute;
	 height: 20px;
	 width: 20px;
	 display: inline-flex;
	 top: 0;
	 left: 100%;
	 transform: translate(-50%, -50%);
	 background-color: #85cb33;
	 justify-content: center;
	 align-items: center;
	 color: #212121;
	 font-size: 14px;
	 border-radius: 400px;
	 transition: all ease 1s;
	 z-index: 1;
}
 .cart .count {
	 height: 30px;
	 width: 30px;
	 background-color: #85cb33;
	 border-radius: 500px;
	 font-size: 14px;
	 display: inline-flex;
	 justify-content: center;
	 align-items: center;
	 top: 0px;
	 right: 0px;
	 color: #100b00;
	 transform: translate(50%, -50%);
	 z-index: 1;
}
 .btn {
	 padding: 16px 32px;
	 border: 0;
	 border-radius: 4px;
	 background-color: #4caf50;
	 color: #fff;
	 text-transform: uppercase;
	 cursor: pointer;
	 outline: 0;
	 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	 transition: all ease 0.5s;
	 position: absolute;
	 bottom: 10px;
	 left: 50%;
	 transform: translateX(-50%);
	 margin: auto;
}
 .btn:hover {
	 background-color: #46a149;
	 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.count {
  margin-left: -1rem;
}

.count:hover{
  cursor:pointer;
  background-color: rgb(243, 186, 112);
}

#cart-icon:hover {
  cursor:pointer;
  color: rgb(243, 186, 112);
}


.wishlist:hover{
  cursor:pointer;
  color: rgb(243, 186, 112);
}